<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="profile-section">
    <ion-label><h1>Desarrollador de Software</h1></ion-label>
    <ion-img src="../../assets/image/Alex.jpg" class="profile-img"></ion-img>
  </div>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbqj9Ii13d6hx5a9kyLnC5A8A96LDSaSZv_w&s"></ion-img>
    </ion-avatar>
    <ion-label>
      GitHub: <ion-button fill="outline"><a href="https://github.com/AleXCS003/Prueba1AplicacionesMoviles">AleXCS003</a></ion-button>
    </ion-label>
  </ion-item>
  
</ion-content>
