<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-title>Calculadora de Días</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item>
      <ion-label>Fecha de Inicio</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="startDate"></ion-datetime>
    </ion-item>
  
    <ion-item>
      <ion-label>Fecha de Fin</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="endDate"></ion-datetime>
    </ion-item>
  
    <ion-button expand="full" (click)="calculateDays()">Calcular Días</ion-button>
  
    <ion-card *ngIf="daysDifference !== null">
      <ion-card-content>
        <p>Días entre las fechas: {{ daysDifference }}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
</ion-content>


